/* https: //www.joshwcomeau.com/gradient-generator/ */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

.container {
    width:100%;
    height: 100vh;
}

.box1 {
    background-image: url('./images/5234906.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:50%;
    animation: disco 1s linear infinite alternate;
}

@keyframes disco {
    0% {
        background-color: blueviolet;
    }
    25%{
        background-color: yellow;
    }
    50%{
        background-color: red;
    }
    75%{
        background-color: springgreen;
    }
    100% {
        background-color: blue;
    }
}

.box2 {
    background-image: linear-gradient(140deg,
                hsl(0deg 99% 40%) 0%,
                hsl(21deg 100% 44%) 12%,
                hsl(32deg 100% 46%) 24%,
                hsl(42deg 100% 47%) 35%,
                hsl(53deg 100% 47%) 45%,
                hsl(65deg 100% 50%) 55%,
                hsl(71deg 100% 49%) 64%,
                hsl(77deg 100% 48%) 73%,
                hsl(84deg 100% 48%) 82%,
                hsl(92deg 100% 47%) 90%,
                hsl(109deg 87% 49%) 100%
                );
                background-size: 200%;
                animation: color 10s linear alternate infinite;
}

@keyframes color {
    0%{
        background-position: 0%  50%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 100% 0%;
    }
}

.box3{
    background-image: url('./images/img_20190609_140908_burst003.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
}

.penguin {
    width:200px;
    animation: cold 1ms linear alternate infinite;
    animation-delay: 10s;
}

@keyframes cold {
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(2deg);
    }
    50%{
        transform: rotate(0);
    }
    75% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0);
    }
}

.box4 {
    display:flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url('./images/horizontal-view-of-asphalt-road-in-thailand-background-empty-land-and-side-eucalyptus-forest-under-the-blue-sky-free-photo\ \(1\).jpg');
    overflow: hidden;
}

.car {
    width: 600px;
    animation: car 1s linear infinite;
}

@keyframes car {
    from {
        transform: translate(-1500px);
    }
    to {
        transform: translate(1500px);
    }
}

.box5 {
    display:flex;
    justify-content: center;
    align-items: center;
}

.heart {
    width:300px;
    animation: heart 2s infinite linear;
}

@keyframes heart {
    0% {
        transform: scale(1);
    }
    25%{
        transform: scale(1.5);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}